.why-choose-us {
  height: fit-content;
  width: 100%;
  margin-top: 120px;
  text-align: center;
  padding-bottom: 100px;
}
.why-choose-us h1 {
  font-size: 2.8rem;
  margin-bottom: 25px;
  color: var(--h1-color);
}
.why-choose-us > p {
  padding: 0 250px;
  font-size: 1rem;
  color: gray;
  margin-bottom: 70px;
}

.why-choose-us .why-choose-us-main {
  width: 85%;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.why-choose-us-main .why-choose-us-left {
  width: 100%;
  text-align: left;
}

.why-choose-us-left h2 {
  font-size: 1.9rem;
  margin-bottom: 20px;
}

.why-choose-us-left p {
  color: gray;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 30px;
  text-align: justify;
}

.why-choose-us-left .wcu-btn {
  font-size: 0.9rem;
  text-decoration: none;
  padding: 7px 15px;
  background-color: var(--btn-color);
  color: white;
  border-radius: 5px;
  transition: 0.5s;
  text-transform: capitalize;
}

.why-choose-us-left .wcu-btn:hover {
  transform: translateY(10px);
}

.why-choose-us .why-choose-us-right {
  width: 100%;
  height: 100%;
}

.why-choose-us-right video {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 965px) {
  .why-choose-us > p {
    padding: 0 150px;
  }

  .why-choose-us .why-choose-us-main {
    width: 90%;
    gap: 25px;
  }
  .why-choose-us-left h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  .why-choose-us-left p {
    font-size: 0.9rem;
    line-height: 1.5;
  }

  .why-choose-us-left .wcu-btn {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 800px) {
  .why-choose-us .why-choose-us-main {
    width: 85%;
    gap: 50px;
    grid-template-columns: 1fr;
  }
  .why-choose-us > p {
    padding: 0 50px;
  }
  .why-choose-us-left p {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 550px) {
  .why-choose-us-left h2 {
    font-size: 1.5rem;
  }

  .why-choose-us h1 {
    font-size: 2rem;
  }
  .why-choose-us p {
    font-size: 0.9rem;
  }
  .why-choose-us > p {
    padding: 0 30px;
  }
}

@media screen and (max-width: 330px) {
  .why-choose-us h1 {
    font-size: 1.6rem;
  }

  .why-choose-us > p {
    padding: 0 10px;
  }
  .why-choose-us-left h2 {
    font-size: 1.3rem;
  }
}
